
// Primary Palette
$u-primary-100: #000066;
$u-primary-80: #333385;
$u-primary-60: #6666a3;
$u-primary-40: #9999c2;
$u-primary-20: #cccce0;;


// Secondary Palette
$u-secondary-100: #cc0000;
$u-secondary-80: #d63333;
$u-secondary-60: #e06666;
$u-secondary-40: #eb9999;
$u-secondary-20: #f5cccc;


// Accent Palette
$u-accent-100: #191919;
$u-accent-80: #4c4c4c;
$u-accent-60: #7f7f7f;
$u-accent-40: #b2b2b2;
$u-accent-20: #e5e5e5;
