@import "tools/mixin.typography";

// Headings
.e-heading--main {
  @include heading--main;
}

.e-heading--sub {
  @include heading--sub;
}

.e-heading--section {
  @include heading--section;
}

.e-heading--descriptive {
  @include heading--descriptive;
}

.e-heading--overview {
  @include heading--overview;
}

.e-heading--headline {
  @include heading--headline;
}

// Paragraph
.e-paragraph {
  @include paragraph;
}

// Alignment
.u-typography--left {
  @include align--left;
}

.u-typography--center {
  @include align--center;
}

.u-typography--right {
  @include align--right;
}

.u-typography--justify {
  @include align--justify;
}

.u-typography--nowrap {
  @include align--nowrap;
}

// Weights
.u-typography--bold {
  @include typography--bold;
}

.u-typography--semi-bold {
  @include typography--semi-bold;
}

.u-typography--regular {
  @include typography--regular;
}

.u-typography--monospace {
  @include typography--monospace;
}

// Styles
.u-typography--success {
  @include typography--success;
}

.u-typography--warning {
  @include typography--warning;
}

.u-typography--information {
  @include typography--information;
}

.u-typography--error {
  @include typography--error;
}

.u-typography--quiet {
  @include typography--quiet;
}

.u-typography--secret {
  @include typography--secret;
}

.u-typography--highlight {
  @include typography--highlight;
  padding: 5px 10px;
}

.u-typography--code {
  @include typography--code;
  padding: 2px 4px;
}

.u-typography--monospace {
  @include typography--monospace;
}

.e-paragraph--help[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

// Code
code.e-code,
kbd.e-code,
pre.e-code,
samp.e-code {
  font-family: monospace, monospace;
  @include code;
}

// Lists
dl.e-definition-list {
  dt {
    @include typography--semi-bold;
  }

  dd {
    @include typography--regular;
    margin: 0;
  }
}

ol.e-ordered-list {
  counter-reset: a;
  list-style-type: none;

  li:before {
    @include typography--semi-bold;
    counter-increment: a;
    content: counters(a, ".") " "
  }
}

ul.e-unordered-list {
  list-style: disc outside;

  &.e-unordered-list--unstyled {
    list-style: none;
    margin-left: 0;

    > li ul {
      list-style-type: none;
    }
  }

  &.e-unordered-list--inline {
    list-style: none;
    margin-left: -5px;

    > li {
      display: inline-block;
      padding: 0 5px;
    }
  }
}

// Blockquote
blockquote.e-blockquote {
  quotes: "'" "'";
  display: block;
  padding: 10px 25px;
  border-left: $border-radius solid $u-accent-100;

  p.e-blockquote__paragraph {
    @include paragraph;
    text-indent: -0.42em;
    margin-bottom: 0;
    color: initial;

    &:before {
      content: "'";
      content: open-quote;
    }

    &:after {
      content: "";
      content: no-close-quote;
    }

    &:last-of-type:after {
      content: "'";
      content: close-quote;
    }

  }

  footer.e-blockquote__footer {
    position: initial;
    text-align: left;
    font-size: .68rem;

    &:before {
      content: '\2014 \00A0';
    }
  }
}
