/*
* Colors
*/

// Brand Primary
$u-primary-100: #000066;
$u-primary-80: #333385;
$u-primary-60: #6666a3;
$u-primary-40: #9999c2;
$u-primary-20: #cccce0;

// Brand Secondary
$u-secondary-100: #cc0000;
$u-secondary-80: #d63333;
$u-secondary-60: #e06666;
$u-secondary-40: #eb9999;
$u-secondary-20: #f5cccc;

// Monotone
$u-accent-100: #191919;
$u-accent-80: #4c4c4c;
$u-accent-60: #7f7f7f;
$u-accent-40: #b2b2b2;
$u-accent-20: #e5e5e5;
$u-accent-0: #ffffff;

// UI
$u-success: #43b36c;
$u-information: #f68f23;
$u-error: #ea4747;

/*
* Typography
*/

// Headings
$heading--main: 2.5rem !default;
$heading--sub: 1.7rem !default;
$heading--section: 1.5rem !default;
$heading--descriptive: 1.1rem !default;
$heading--headline: 1rem !default;
$heading--overview: .83rem !default;

// Text
$text-font-size-xsmall: .53rem !default;
$text-font-size-small: .73rem !default;
$text-font-size-medium: .83rem !default;
$text-font-size-large: .93rem !default;
$text-font-size-xlarge: 1rem !default;

$text-font-weight: normal !default;
$text-font-weight-heavy: bold !default;
$text-line-height: 1.53rem !default;

$text-color: $u-secondary-80 !default;


/*
* Buttons & Links
*/


/*
* Borders
*/
$border-width: 1px !default;
$border-style: solid !default;
$border-color: $u-secondary-60 !default;


/*
* Border radius
*/
$border-radius: 4px !default;
$border-radius-rounded: 40rem !default;


/*
* Spacing
*/
$spacing-xsmall: .125rem !default;
$spacing-small: .25rem !default;
$spacing-medium: .5rem !default;
$spacing-large: .75rem !default;
$spacing-xlarge: .95rem !default;
$spacing-xxlarge: 1rem !default;


/*
* Labels
*/


/*
* Status
*/


/*
* Focus styles
*/
