/*
* Doc styles
*/
@import 'settings.global';

// Doc structure
.o-docs {
  color: $u-accent-100;

  .o-docs__header {
    background-color: $u-accent-20;

    .e-heading {
      text-align: center;
    }
  }

  .o-app__content {
    font-size: $text-font-size-medium;
  }

  .o-docs__footer {

  }
}

// Color swatches
.o-swatch {
  width: 200px;
  height: 150px;

  .o-swatch__background {
    background: transparent;
    margin: 0;
  }

  .o-swatch__background--primary-100 {
    background-color: $u-primary-100;
  }
}
