@import "settings.global";

@mixin font-size($sizeValue: 16, $line: $sizeValue * 1.5) {
    font-size: ($sizeValue) + px;
    line-height: ($line) + px;
    font-size: ($sizeValue / 16) + rem;
    line-height: ($line / 16) + rem;
}

@mixin heading--main {
  font-weight: $text-font-weight-semibold;
  @include font-size(32);
}

@mixin heading--sub {
  font-weight: $text-font-weight-semibold;
  @include font-size(24);
}

@mixin heading--section {
  font-weight: $text-font-weight-semibold;
  @include font-size(20);
}

@mixin heading--descriptive {
  font-weight: $text-font-weight-semibold;
  @include font-size(16);
}

@mixin heading--overview {
  font-weight: $text-font-weight-bold;
  @include font-size(14);
}

@mixin heading--headline {
  font-weight: $text-font-weight-semibold;
  @include font-size(14);
}

@mixin paragraph {
  font-weight: $text-font-weight-regular;
  @include font-size(13);
}

@mixin code {
  font-weight: $text-font-weight-regular;
  @include font-size(14);
}

@mixin typography--bold {
  font-weight: $text-font-weight-bold;
}

@mixin typography--semi-bold {
  font-weight: $text-font-weight-semibold;
}

@mixin typography--regular {
  font-weight: $text-font-weight-regular;
}

@mixin typography--monospace {
  font-weight: $text-font-weight-regular;
  // font-family: $monospace;
}

@mixin align--left {
  text-align: $text-align-left;
}

@mixin align--center {
  text-align: $text-align-center;
}

@mixin align--right {
  text-align: $text-align-right;
}

@mixin align--justify {
  text-align: $text-align-justify;
}

@mixin align--nowrap {
  text-align: $text-align-nowrap;
}

@mixin typography--success {
  color: $u-success;
}

@mixin typography--warning {
  color: $u-warning;
}

@mixin typography--information {
  color: $u-information;
}

@mixin typography--error {
  color: $u-error;
}

@mixin typography--quiet {
  color: $u-quiet;
}

@mixin typography--secret {
  color: $u-secret;
}

// @mixin paragraph--help {
//   border-bottom: 1px dotted;
//   cursor: help;
// }

@mixin typography--highlight {
  color: $u-primary-100;
  background-color: $u-highlight;
  border-radius: $border-radius;
}

@mixin typography--code {
  color: $u-primary-100;
  background-color: $u-code;
  border-radius: $border-radius;
}
