@import "settings.global";

@mixin card {
  display: block;
  box-shadow: $card-box-shadow;
  border-radius: $card-border-radius;
  overflow: hidden;
}

@mixin card-wide {
  text-align: left;
}

@mixin card-spacing {
  margin: $card-margin;
}

@mixin card-first-last-paragraph {
  padding: 0;
}

@mixin card__content {
  padding: $card-item-padding;
}

@mixin card__item {
  padding: $card-item-padding;
  &:not(:last-child) {
    border-bottom: $card-border;
  }
}

@mixin card__item--borderless {
  &:not(:last-child) {
    border-bottom: 0;
  }
}

@mixin card__item--hover {
  cursor: pointer;
}

@mixin card__item--active {
  background-color: $card-item-active-background-color;
}

@mixin card--high {
  box-shadow: $box-shadow-high;
}

@mixin card--higher {
  box-shadow: $box-shadow-higher;
}

@mixin card--highest {
  box-shadow: $box-shadow-highest;
}
