<!DOCTYPE html>
<html lang="en" class="no-js">

{% include head.html %}
<body class="o-docs">
  <header class="o-docs__header">
    <h1 class="e-heading e-heading--main">{{ page.title }} {{ page.label }}</h1>
    <h2 class="e-heading e-heading--sub">{{ page.sub }}</h2>
  </header>

  <div class="o-docs__content o-container o-container--xlarge o-grid o-grid--wrap o-grid--top o-grid--small-full o-grid--medium-full">
    <aside class="o-grid__col o-grid__col--width-20">
      {% include side-nav.html %}
    </aside>

    <main class="o-grid__col o-grid__col--width-80">
      <section>
        {{ content }}
      </section>
    </main>
  </div>

  <footer class="o-docs__footer">
    {% include footer.html %}
  </footer>
<script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script>
</body>
</html>
